<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>

    {% for machine in machines %}

    // Abaixo gráfico da maquina: 
    const id_chart_{{machine.name}} = document.getElementById('chart-{{machine.name}}');
    const chart_{{machine.name}} = {
      labels: [
        {% for i in labels %}"{{i}}",
        {% endfor %}
      ],
      datasets: [
      {% for sensor in machine.sensors %}
      {
          data: [40,100,50], // dados iniciais
          lineTension: 0,
          backgroundColor: 'transparent',
          borderColor: '{{sensor.color}}',
          borderWidth: 1,
          pointBackgroundColor: '{{sensor.color}}',
        },
        {% endfor %}
      ]
    };
  
    // Cria o gráfico
    const myChart_{{machine.name}} = new Chart(id_chart_{{machine.name}}, {
      type: 'line',
      data: chart_{{machine.name}},
      options: {
        animation: false,
        plugins: {
          legend: {
            display: false
          },
          tooltip: {
            boxPadding: 3
          }
        }
      }
    });
    
    // Busca os dados na API
    function fetchData_{{machine.name}}() {
        {% for sensor in machine.sensors %}
        fetch('/sensors/{{sensor.name}}/')
        .then(response => response.json())
        .then(apiData => {
            const sensorData_{{sensor.name}} = apiData.{{sensor.name}};
            const timeData = apiData.timestamp;
            chart_{{machine.name}}.datasets[{{sensor.index}}].data = sensorData_{{sensor.name}};
            if ({{sensor.index}} === 0) {
                chart_{{machine.name}}.labels = timeData;
            }
        })
        .catch(error => {
            console.error('Erro ao buscar dados da API: {{sensor.name}}', error);
        });
        
        {% endfor %}
        myChart_{{machine.name}}.update();
    }
    
    // Atualizar dados a cada 1,5 segundos
    const intervalId_{{machine.name}} = setInterval(fetchData_{{machine.name}}, 1500);
    
      // Limpar intervalo quando a página for fechada ou o componente destruído
      window.addEventListener('beforeunload', () => {
        clearInterval(intervalId_{{machine.name}});
      });


      {% endfor %}


</script>